@import "tailwindcss";

@font-face {
  font-family: "fabrik";
  src: url("/fonts/FabrikNormal1/fabrik.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "george";
  src: url("/fonts/george/GeorgeRegular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body{
  background-color: #02283b;
  color: white;
}

.font-fabrik{
  font-family: "fabrik", sans-serif;
}

.font-george{
  font-family: "george", sans-serif;
}